/* styles/styles.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.home-container, .match-container {
  display: flex;
  height: 100vh;
}

.homes{
  display: flex;
  height: 100vh;

}

.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .logo {
  padding: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  padding: 10px 20px;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
}

.sidebar .footer {
  padding: 20px;
  background-color: #444;
  text-align: center;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
}

.list-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  border-radius: 20px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f9f9f9;
}

/* New CSS for spacing */
.add-subject {
  margin-top: 20px; /* Adjust this value as needed */
}

.small-input {
  width: 200px; /* Adjust the width as needed */
}
