/* styles/styles.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.home-container, .match-container {
  display: flex;
  height: 100vh;
}

.homes{
  display: flex;
  height: 100vh;

}

.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.sidebar .logo {
  padding: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  padding: 10px 20px;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
}

.sidebar .footer {
  padding: 20px;
  background-color: #444;
  text-align: center;
}

.main-content {
  flex: 1;
  padding: 20px;
  background: rgb(37, 92, 153);
  background: linear-gradient(
    to bottom,
    rgba(37, 92, 153, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.list-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  border-radius: 20px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f9f9f9;
}

/* New CSS for spacing */
.add-subject {
  margin-top: 20px; /* Adjust this value as needed */
}

.small-input {
  width: 200px; /* Adjust the width as needed */
}
.stopwatch-container {
  position: fixed;
  bottom: 20px; /* Adjust this value to move it up or down */
  right: 20px; /* Adjust this value to move it left or right */
  z-index: 1000; /* Ensure it appears above other content */
}

.stop{
  transform: scale(2);
}

.welcome{
  color: #fff;
}

.sub{
  color: #fff;
}
/* styles.css or your global styles file */
.btn-primary {
  background-color: #ffc107; /* Yellow background */
  border-color: #ffc107; /* Matching border color */
  color: #fff; /* White text color */
}

.btn-primary:hover {
  background-color: #ffcd38; /* Darker yellow on hover */
  border-color: #ffcd38;
}


